<!doctype html>
<title>IIJmio API 登録</title>
<meta charset="UTF-8">
<body>
  <h1>IIJmio API 登録</h1>
  {{if len .Flashes}}
    <ul>
      {{range $i, $f := .Flashes}}
        <li>{{$f}}</li>
      {{end}}
    </ul>
    <p><a href="/">もう一度登録する</a></p>
  {{else}}
    <p><a href="{{.IIJURL}}">スタート</a></p>
  {{end}}
</body>
